{% extends "chpa_data/analysis.html" %}

{% block display %}
    <!-- 数据处理时的loading遮罩 -->
    <div class="ui active dimmer" id="dimmer">
        <pre>
        <div class="ui text myfont_size" style="color: #FFFFFF">{{ metadata }}</div>
        </pre>
    </div>

    <!-- 创建4个Semantic UI tab，根据鼠标点击切换，以保证页面干净清爽 -->
    <div class="ui pointing secondary menu">
        <a class="item" data-tab="competition"><i class="trophy icon"></i>数据基本信息</a>
        <a class="item" data-tab="bubble_performance"><i class="braille icon"></i>原数据表格</a>
        <a class="item active" data-tab="total"><i class="circle icon"></i>数据透视</a>
        <a class="item" data-tab="export"><i class="download icon"></i>导出数据</a>
    </div>

    {#    第一个tab，放置三个pyecharts图表，即index和column分类统计图；describe图表#}
    <div class="ui tab segment" data-tab="competition">
        {#                pyecharts图表#}
        <h3 class="ui header">
            <div class="content">
                数据基本信息概览
                <div class="sub header">柱状图/折线图</div>
            </div>
        </h3>
        <div class="ui divider"></div>
        <div class="ui container">
            <div id="info_chart" style="width:1000px; height:600px;"></div>
        </div>
    </div>

    {#    第二个tab，原数据表格#}
    <div class="ui tab segment" data-tab="bubble_performance">
        {#                原数据pyecharts透视图#}
        <h3 class="ui header">
            <div class="content">
                原数据展示图
            </div>
        </h3>
        <div class="ui divider"></div>
        <div class="ui container">
            <div id="origin_data_chart" style="width:1000px; height:600px;"></div>
        </div>

        {#        原数据表格#}
        <h3 class="ui header">
            <div class="content">
                原数据展示
            </div>
        </h3>
        <div class="ui divider"></div>
        <div class="ui top attached button" tabindex="0"
             onclick="selectElementContents( document.getElementById('initdata_table') );"
             data-content="复制成功" data-position="bottom center">
            <i class="copy icon"></i>
            复制到剪贴板
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui container" id='initdata_result_table' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
            <!-- Django渲染html代码时需要加入|safe，保证html不会被自动转义 -->
            {{ initdata_table|safe }}
        </div>
    </div>

    {#    第三个tab，放了透视柱状图和透视表格。就是数据透视表和它的chart形式#}
    <div class="ui tab segment active" data-tab="total">
        {#                pyecharts透视图表#}
        <h3 class="ui header">
            <div class="content">
                数据透视图
            </div>
        </h3>
        <div class="ui divider"></div>
        <div class="ui container">
            <div id="pivot_chart" style="width:1000px; height:600px;"></div>
        </div>

        {#        透视表格#}
        <h3 class="ui header">
            <div class="content">
                数据透视表
            </div>
        </h3>
        <div class="ui divider"></div>
        <div class="ui top attached button" tabindex="0"
             onclick="selectElementContents( document.getElementById('ptable') );"
             data-content="复制成功" data-position="bottom center">
            <i class="copy icon"></i>
            复制到剪贴板
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui container" id='result_table' style="width: 100%; overflow-x: scroll; overflow-y: hidden;">
            <!-- Django渲染html代码时需要加入|safe，保证html不会被自动转义 -->
            {{ ptable|safe }}
        </div>
    </div>

    {#    第四个tab，导出数据#}
    <div class="ui tab segment" data-tab="export">
        <div class="ui buttons">
            <input class="ui blue button" type='button' id='export_pivot' value="导出透视后的数据"/>
        </div>
        <div class="ui buttons">
            <input class="ui blue button" type='button' id='export_raw' value="导出原始数据"/>
        </div>
    </div>

    <!-- 下方js为保证Semantic UI tab类工作 -->
    <script>
        $('.pointing.secondary.menu .item').tab();
    </script>

    {#    复制功能#}
    {#    这方式有很大的局限性，只能用表单元素，并且不能设置disabled属性#}
    <script>
        // 复制有node结构的文本区域
        function selectElementContents(el) {
            var body = document.body, range, sel;
            if (document.createRange && window.getSelection) {
                range = document.createRange();

                /* 窗口的selection对象，表示用户选择的文本 */
                sel = window.getSelection();
                sel.removeAllRanges();// 将已经包含的已选择的对象清除掉
                try {
                    range.selectNodeContents(el);
                    sel.addRange(range);// 将要复制的区域的range对象添加到selection对象中
                } catch (e) {
                    range.selectNode(el);
                    sel.addRange(range);
                }
            } else if (body.createTextRange) {
                range = body.createTextRange();
                range.moveToElementText(el);
                range.select();
            }
            document.execCommand("Copy");// 执行copy命令，copy用户选择的文本
        }
    </script>

    <script>
        // 按钮点击后有弹出文本，显示data-content内容“复制成功”
        $('.ui.top.attached.button')
            .popup({
                on: 'click'
            })
        ;
    </script>

    {#    导出数据#}
    <script>
        $("#export_pivot").click(function(){
            var form_data = getForm();

            var downloadUrl = '{% url 'chpa:export' 'pivoted' %}'+ '?' + $.param(form_data, true);
            window.location.href = downloadUrl;
        });

        $("#export_raw").click(function(){
            var form_data = getForm();

            var downloadUrl = '{% url 'chpa:export' 'raw' %}'+ '?' + $.param(form_data, true);
            window.location.href = downloadUrl;
        })
    </script>
    <style>
        .myfont_size{
            font-size: 30px;
        }
    </style>
{% endblock %}