{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Semantic-UI-CSS-master/semantic.min.css' %}">
    <script type="text/javascript" src="{% static 'Semantic-UI-CSS-master/semantic.js' %}"></script>
</head>
<body>
<div class="column">
        <form enctype="multipart/form-data"  method="POST"  class="ui large form">
            {% csrf_token %}
            <input type="file" name="upload" accept="text/csv" />
            <input id="loaddata_btn" class="ui fluid large blue submit button" type="submit" value="导入">
            <div class="ui info message">{{ message}}</div>
        </form>
</div>
</body>
</html>
<style>
    .column {
        max-width: 450px;
    }

</style>
<script>
    $("loaddata_btn").click(function (event){
        $.ajax({
            url: '{% url 'chpa:loaddata' %}',
            type: 'POST',
        });
    })
</script>
{#<html>#}
{#<head>#}
{#    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">#}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{#<h1>upload file</h1>#}
{#<form method="post" enctype="multipart/form-data" >#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Submit" />#}
{#</form>#}
{#</body>#}
{#</html>#}

